.booking {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
}
.bgtablecolors {
  background-color: transparent;
}

@media (max-width: 768px) {
  .ant-table {
    font-size: 12px; /* ปรับขนาดตัวอักษรเพื่อให้พอดีกับขนาดหน้าจอ */
  }
  .ant-table {
    overflow-x: auto;
  }
}