@font-face {
  font-family: 'CaveatVarialbleFont';
  src: local('CaveatVarialbleFont'),
    url('../../fonts/Caveat-VariableFont_wght.ttf') format('ttf');
}

.goom__page {
}

.image__grooming {
  width: 100%;
  height: auto;
  max-width: 500px; /* Set a maximum width for smaller screens */
}
@media (min-width: 768px) {
  /* Increase the maximum width for larger screens */
  .carousel-image {
    max-width: 800px;
  }
}
.overlap-group {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}
.item-hover-effect:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Change the box shadow on hover */
}

*/ element,
.img,
.img-2,
.element-2 {
  border-radius: 100px; /* Adjust the value to your desired border radius */
  transition: transform 0.3s ease, filter 0.3s ease; /* Add smooth transitions */
}
.element:hover,
.img:hover,
.img-2:hover,
.element-2:hover {
  transform: scale(1.1); /* Increase the scale factor for a zoom effect */
  filter: brightness(
    0.8
  ); /* Adjust the brightness value for the color change effect */
}
/* Add a hover effect and change colors to the "BOOKNOW" button */
.group {
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.group:hover {
  transform: scale(1.05); /* Scale the button slightly when hovered */
  /* Change the background color on hover */
  color: #ffffff; /* Change the text color on hover */
}

.overlap-group {
  transition: transform 0.3s ease;
}

.overlap-group:hover {
  transform: scale(1.05); /* Scale the section up slightly when hovered */
}

.text-wrapper-2 {
  transition: color 0.3s ease; /* Add a smooth transition for text color */
}

.overlap-group:hover .text-wrapper-2 {
  color: #ff5722; /* Change the text color on hover */
}

.pet-egory {
  transition: color 0.3s ease; /* Add a smooth transition for text color */
}

.overlap-group:hover .pet-egory {
  color: #4caf50; /* Change the text color on hover */
}
/* Add a hover effect to the "overlap" container */
.overlap {
  transition: transform 0.3s ease; /* Add a smooth transition for scaling */
}

/* Scale the "overlap" container up slightly when hovered */
.overlap:hover {
  transform: scale(1.05);
}

/* Add a hover effect to the image within the "overlap" container */
.detailrate-grooms {
  transition: transform 0.3s ease; /* Add a smooth transition for scaling */
}

.image-hover__Grooming {
  transform: scale(1.1); /* Scale the image up on hover */
  filter: grayscale(100%); /* Apply grayscale filter on hover to change color */
}
