.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../../imgs/7757278.jpg");
  background-size: 150%;
  background-position: center;
}
.signupForm {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  backdrop-filter: blur(3px);
  padding: 0px 25px 25px 25px;
  border-radius: 16px;
  width: 80%;
  max-width: 400px;
  align-items: center;
}
h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  padding: 15px 0;
}

.signup button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
  color: white;
  outline: none !important;
  background-color: #ff314a;
  cursor: pointer;
  transition: 0.3s linear;
}

.signup button:hover {
  background-color: #ffffff; /* Change background color on hover */
  color: #000000; /* Change text color on hover */
  border: 1px solid black;
}

.input {
  padding: 10px;
}
