.t_border {
  border-top: 2px solid #a91079;
}

.sec_sp {
  margin-top: 30px;
}

.color_sec {
  color: #a91079;
}

.contact__form textarea {
  resize: none;
}

.btnSub {
  background-color: #ad813e;
  color: #fff;
  max-width: 10rem;
  border-style: solid;
  padding: 0.5rem;
  border-width: 0.1rem;
  text-transform: uppercase;
  border-radius: 8px;
}
.btnSub:hover {
  transform: scale(0.9);
  border: 1px solid black;
}

@keyframes shift-rightwards {
  0% {
    transform: translateX(-100%);
  }

  40% {
    transform: translateX(0%);
  }

  60% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

/*  */
.frame {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .mask-group-wrapper {
  border: 1px none;
  height: 1024px;
  width: 1440px;
}

.frame .mask-group {
  height: 1024px;
}

.frame .desktop {
  background-color: #ffffff;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.frame .overlap-group {
  background-color: #eeeeee;
  border-radius: 24px;
  height: 707px;
  left: 720px;
  position: absolute;
  top: 86px;
  width: 485px;
}

.frame .img {
  height: 177px;
  left: 0;
  position: absolute;
  top: 0;
  width: 485px;
}

.frame .let-s-discuss-on {
  color: transparent;
  font-family: 'Poppins', Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 104px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 130px;
  width: 399px;
}

.frame .text-wrapper {
  color: #000000;
}

.frame .span {
  color: #a91079;
}

.frame .div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 245px;
  left: 104px;
  position: absolute;
  top: 390px;
  width: 464px;
}

.frame .div-2 {
  align-items: center;
  border-radius: 16px;
  display: flex;
  gap: 16px;
  height: 45px;
  padding: 24px 128px 24px 24px;
  position: relative;
  width: 322px;
}

.frame .envelope-fill {
  height: 54px;
  margin-bottom: -28.5px;
  margin-top: -28.5px;
  position: relative;
  width: 51px;
}

.frame .text-wrapper-2 {
  color: #000000;
  font-family: 'Poppins', Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -10px;
  margin-right: -79px;
  margin-top: -16px;
  position: relative;
  width: fit-content;
}

.frame .div-3 {
  align-items: center;
  background-color: #f6d4d480;
  border: 3px solid;
  border-color: #b80f0fba;
  border-radius: 16px;
  display: flex;
  gap: 16px;
  height: 51px;
  padding: 24px 256px 24px 24px;
  position: relative;
  width: 300px;
}

.frame .telephone-fill {
  height: 27px;
  margin-bottom: -12px;
  margin-right: -19px;
  margin-top: -12px;
  position: relative;
  width: 39px;
}

.frame .text-wrapper-3 {
  color: #000000;
  font-family: 'Poppins', Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -7.5px;
  margin-right: -140px;
  margin-top: -13.5px;
  position: relative;
  width: fit-content;
}

.frame .div-4 {
  align-items: center;
  border-radius: 16px;
  display: flex;
  gap: 16px;
  height: 67px;
  padding: 24px 128px 24px 24px;
  position: relative;
  width: 382px;
}

.frame .vector {
  height: 30px;
  margin-bottom: -5.5px;
  margin-top: -5.5px;
  position: relative;
  width: 33px;
}

.frame .text-wrapper-4 {
  color: #000000;
  font-family: 'Poppins', Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -5.5px;
  position: relative;
  width: fit-content;
}
@font-face {
  font-family: 'RobotoBoldItalic';
  src: local('RobotoBoldItalic'),
    url('../../fonts/Roboto-BoldItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'CaveatVarialbleFont';
  src: local('CaveatVarialbleFont'),
    url('../../fonts/Caveat-VariableFont_wght.ttf') format('ttf');
}

.text-center {
  font-family: CaveatVarialbleFont;
}
