.color-nav {
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 49px;
  height: 49px;
  margin-right: 20px;
}

.link-hover:hover {
  background-color: #cda274;
  border-radius: 15px;
  transition: 0.3s;
}

.link-hover {
  padding: 10px;
  border-radius: 15px;
  margin: 8px;
}
.nav-container {
  justify-content: flex-end;
}
.signin {
  background-color: #cda274;
  color: #fff;
  border-radius: 15px;
  width: 100px;
  text-align: center;
  font-size: 18px;
}
.hamberger {
  transition: 0.3s;
}
.profile {
  align-self: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(34, 31, 248);
}
.color-nav.scrolled {
  background-color: #fff; /* Change background color on scroll */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow on scroll */
  /* You can adjust other styles as needed */
}
.hide-on-large-screen {
  display: none;
}
@media (max-width: 767px) { /* ปรับขนาดตามที่คุณต้องการ */
  .hide-on-large-screen {
    display: block;
  }
}