.color-nav {
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 49px;
  height: 49px;
  margin-right: 20px;
}

.link-hover:hover {
  background-color: #cda274;
  border-radius: 15px;
  transition: 0.3s;
}

.link-hover {
  padding: 10px;
  border-radius: 15px;
  margin: 8px;
}
.nav-container {
  justify-content: flex-end;
}
.signin {
  background-color: #cda274;
  color: #ffffff;
  border-radius: 15px;
  width: 100px;
  text-align: center;
  font-size: 18px;
}
