.gloom_container{
    margin: 0;
    border: 0;
    background-color: #F1DEC9;
   width: 100%;
}


.header_grooming{
    display: flex;
   background-color: antiquewhite;
    margin: auto;
   width: 20%;
   border-radius: 30px;
    padding: 10px;
    box-shadow: 4px 6px;
    margin-bottom: 10px;
    justify-content: center;

  
}
.header_grooming h1{
    font-size:2.5vw;
    font-weight: bold;
}
.gloom_button{
    margin: 10px;
    background-color: #FFFAEE;
    width: 10%;
    text-align: center;
    padding: 20px;
    float: right;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 5px 5px;
    margin-right: 100px;
    
    justify-content: center;
    align-items: center;
    font-size:1vw;
    cursor: pointer;


}
.gloom_button:hover{
    background-color: aliceblue;
    border: 1px solid black;
    filter: opacity(0.8);
  transform: scale(1.1);
  
}
.ressponive{
 
    max-width: 500px;
    height: auto;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-top: 50px;
    
  
    
}
img{
    width: 100%;
  
}


    

@media only screen and (min-width: 300px) and (max-width: 1024px) {
   
    .header_grooming {
    display: flex;
    width: 90%;
    }
    .header_grooming h1{
        font-size: 4vh;
        font-weight: bold;
        width: 90%;
    }
    .ressponive{
        width: 90%;
        display: inline-block;
        flex-direction: column;
        
    }
    .gloom_button{
        display: flex;
        font-size: 2vh;
        width: 50%;
        
        
        
    }
    }
   





.Grooming_booking{
    text-align: center;
    height: 100vh;
}
